{% extends 'myapp/base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
    <!-- prepare a DOM container with width and height -->
    <div id="main" style="width: auto;height:500px;"></div>
    <hr>
    <div class="row">
        <div class="col-4">
            <input type="text" class="form-control" name="datepicker" id="datepicker" placeholder="Choose a date"/>
        </div>
        <div class="col-4">
            <select class="form-control" name="status" id="status">
                <option value="">---------- Select Status ----------</option>
                {% for key,value in status_list.items %}
                <option value="{{key}}">{{value}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    
    <script type="text/javascript">
        // Date Picker
        $("#datepicker").datepicker( {
            
            format: "mm-yyyy",
            startView: "months", 
            minViewMode: "months",
            todayHighlight: 1,
            
        });
        
        // echarts
        // based on prepared DOM, initialize echarts instance
        var myChart = echarts.init(document.getElementById('main'));
        
        x_axis = "{{x_axis_data}}";
        y_axis = "{{y_axis_data}}";
        
        x_axis_data = x_axis.split(',');
        y_axis_data = y_axis.split(',');
        x_axis_data.pop()
        y_axis_data.pop();
        
        
        // specify chart configuration item and data
        var option = {
            title: {
                text: 'Purchaser Model'
            },
            legend: {
                data:['Purchaser']
            },
            xAxis: {
                data: x_axis_data,
            },
            yAxis: {},
            series: [{
                name: 'Purchaser',
                type: 'bar',
                data: y_axis_data,
                
            }]
        };
        // use configuration item and data specified to show chart
        myChart.setOption(option);

        // Ajax for Date Picker
        $('#datepicker').on('change', function(event){
            event.preventDefault();
            var datefilter = $('#datepicker')[0].value;
            var selected_status = $('#status')[0].value;
            var token = '{{csrf_token}}';
            $.ajax({
                url: "{% url 'myapp:filterbymonth' %}",
                headers: { "X-CSRFToken": token },
                method: "POST",
                data:{
                    'datefilter': datefilter,
                    'selected_status': selected_status,
                },
                success: function(msg){
                    console.log("success--");
                    x_axis = msg.x_axis_data;
                    y_axis = msg.y_axis_data;
                    try{
                        x_axis_data = x_axis.split(',');
                        y_axis_data = y_axis.split(',');
                        x_axis_data.pop()
                        y_axis_data.pop();
                    }
                    catch{
                        x_axis_data = [];
                        y_axis_data = [];
                    }

                    // specify chart configuration item and data
                    var option = {
                        title: {
                            text: 'Purchaser Model'
                        },
                        legend: {
                            data:['Purchaser']
                        },
                        xAxis: {
                            data: x_axis_data,
                        },
                        yAxis: {},
                        series: [{
                            name: 'Purchaser',
                            type: 'bar',
                            data: y_axis_data,
                            
                        }]
                    };
                    // use configuration item and data specified to show chart
                    myChart.setOption(option);
                }
            });
        });

        // Ajax for Status
        $('#status').on('change', function(event){
            event.preventDefault();
            var datefilter = $('#datepicker')[0].value;
            var selected_status = $('#status')[0].value;
            var token = '{{csrf_token}}';
            $.ajax({
                url: "{% url 'myapp:filterbymonth' %}",
                headers: { "X-CSRFToken": token },
                method: "POST",
                data:{
                    'datefilter': datefilter,
                    'selected_status': selected_status,
                },
                success: function(msg){
                    console.log("success--");
                    x_axis = msg.x_axis_data;
                    y_axis = msg.y_axis_data;
                    try{
                        x_axis_data = x_axis.split(',');
                        y_axis_data = y_axis.split(',');
                        x_axis_data.pop()
                        y_axis_data.pop();
                    }
                    catch{
                        x_axis_data = [];
                        y_axis_data = [];
                    }

                    // specify chart configuration item and data
                    var option = {
                        title: {
                            text: 'Purchaser Model'
                        },
                        legend: {
                            data:['Purchaser']
                        },
                        xAxis: {
                            data: x_axis_data,
                        },
                        yAxis: {},
                        series: [{
                            name: 'Purchaser',
                            type: 'bar',
                            data: y_axis_data,
                            
                        }]
                    };
                    // use configuration item and data specified to show chart
                    myChart.setOption(option);
                }
            });
        });

    </script>
{% endblock %}